pbr>=0.6,!=0.7,<1.0

gear
PyYAML
python-jenkins
paramiko>1.9.0
lockfile
python-daemon
extras
statsd>=1.0.0,<3.0
apscheduler>=2.1.1,<3.0
sqlalchemy>=0.8.2,<0.9.0
pyzmq>=13.1.0,<14.0.0
python-glanceclient
python-keystoneclient
python-novaclient
MySQL-python
PrettyTable>=0.6,<0.8
six>=1.4.1
diskimage-builder
