pbr>=1.3

PyYAML
paramiko>=2.0.1
python-daemon>=2.0.4,<2.1.0
extras
statsd>=3.0
PrettyTable>=0.6,<0.8
# openstacksdk before 0.27.0 is TaskManager based
openstacksdk>=0.27.0
diskimage-builder>=2.0.0
voluptuous
kazoo
Paste
WebOb>=1.8.1
openshift
boto3
