# Nodepool uses hacking for its dependencies
hacking>=0.10.2,<0.11
coverage
sphinx>=1.5.1,<1.6
sphinxcontrib-programoutput
sphinxcontrib-httpdomain
fixtures>=0.3.12
mock>=1.0
python-subunit
testrepository>=0.0.13
testscenarios
testtools>=0.9.27
