[Unit]
Description=Nodepool Launcher Service
After=syslog.target network.target

[Service]
Type=simple
# Options to pass to nodepool-launcher.
Group=nodepool
User=nodepool
RuntimeDirectory=nodepool
ExecStart=/usr/local/bin/nodepool-launcher

[Install]
WantedBy=multi-user.target
